<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fess's Recipe Site</title>
</head>
<body>
    <h1>Welcome to this Recipe Site!</h1>
    <p>My name is Fess Myhre and I designed this web application. I enjoy food thoroughly, and I cook when I can! I am no professional, but I hope this website can aid you in organizing your recipes and ingredients!</p>
    <a href="/recipes">View My Recipes</a>
    <a href="/add-recipe">Add a Recipe</a>
    <a href="/ingredients">View Ingredients</a>
</body>
</html>